.body{
  margin: 0,auto;
  max-width: 900px;
}

.subtitle{
  font-size:25px;


}

.question {
  font-size: 17px;
  border-bottom: solid 3px #00AB36;
  position: relative;
  width: 202px
}

.question::after{
  position: absolute;
  content:"";
  display: block

}


.option {
  font-size: 20px;
  border: 1px solid #ebebeb;
  height: 40px;
  margin: 10px;
  padding-left: 5px;
  padding-top: 5px;
  box-shadow: 4px,4px,6px;
}

ul{
  list-style: none;
}

